@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* ################################################################################# */
:root { /* --- General Configuration */
  --font-family-Condensed: 'Open Sans Condensed', sans-serif;
  --font-family-Montserrat: 'Montserrat', sans-serif;
  --font-family-RedHat: "Red Hat Display", sans-serif;

  --color-background: #e9e1df;
  --color-main: #a56248;
  --color-secondary: #caa791;
  --color-text: #845953;
  --color-highlight: #f9c267;

  --color-primary: #0275d8;
  --color-success: #5cb85c;
  --color-info: #5bc0de;
  --color-warning: #f0ad4e;
  --color-danger: #d9534f;
  --color-inverse: #292b2c;
  --color-faded: #f7f7f7;
}
:root { /* --- Colors: Transparent */
  /* # 10% */
  /* # 20% */
  --color-background-20: rgba(233, 225, 223, 0.2);  /* #e9e1df */
  --color-main-20: rgba(165, 98, 72, 0.2);  /* #a56248 */
  --color-secondary-20: rgba(202, 167, 145, 0.2);  /* #caa791 */
  --color-text-20: rgba(132, 89, 83, 0.2);  /* #845953 */
  --color-highlight-20: rgba(249, 194, 103, 0.2);  /* #f9c267 */

  --color-primary-20: rgba(2, 117, 216, 0.2);  /* #0275d8 */
  --color-success-20: rgba(92, 184, 92, 0.2);  /* #5cb85c */
  --color-info-20: rgba(91, 192, 222, 0.2);  /* #5bc0de */
  --color-warning-20: rgba(240, 173, 78, 0.2);  /* #f0ad4e */
  --color-danger-20: rgba(217, 83, 79, 0.2);  /* #d9534f */
  --color-inverse-20: rgba(41, 43, 44, 0.2);  /* #292b2c */
  --color-faded-20: rgba(247, 247, 247, 0.2);  /* #f7f7f7 */
  /* # 30% */
  --color-background-30: rgba(233, 225, 223, 0.3);  /* #e9e1df */
  --color-main-30: rgba(165, 98, 72, 0.3);  /* #a56248 */
  --color-secondary-30: rgba(202, 167, 145, 0.3);  /* #caa791 */
  --color-text-30: rgba(132, 89, 83, 0.3);  /* #845953 */
  --color-highlight-30: rgba(249, 194, 103, 0.3);  /* #f9c267 */

  --color-primary-30: rgba(2, 117, 216, 0.3);  /* #0275d8 */
  --color-success-30: rgba(92, 184, 92, 0.3);  /* #5cb85c */
  --color-info-30: rgba(91, 192, 222, 0.3);  /* #5bc0de */
  --color-warning-30: rgba(240, 173, 78, 0.3);  /* #f0ad4e */
  --color-danger-30: rgba(217, 83, 79, 0.3);  /* #d9534f */
  --color-inverse-30: rgba(41, 43, 44, 0.3);  /* #292b2c */
  --color-faded-30: rgba(247, 247, 247, 0.3);  /* #f7f7f7 */
  /* # 40% */
  /* # 50% */
  /* # 60% */
  --color-background-60: rgba(233, 225, 223, 0.6);  /* #e9e1df */
  --color-main-60: rgba(165, 98, 72, 0.6);  /* #a56248 */
  --color-secondary-60: rgba(202, 167, 145, 0.6);  /* #caa791 */
  --color-text-60: rgba(132, 89, 83, 0.6);  /* #845953 */
  --color-highlight-60: rgba(249, 194, 103, 0.6);  /* #f9c267 */

  --color-primary-60: rgba(2, 117, 216, 0.6);  /* #0275d8 */
  --color-success-60: rgba(92, 184, 92, 0.6);  /* #5cb85c */
  --color-info-60: rgba(91, 192, 222, 0.6);  /* #5bc0de */
  --color-warning-60: rgba(240, 173, 78, 0.6);  /* #f0ad4e */
  --color-danger-60: rgba(217, 83, 79, 0.6);  /* #d9534f */
  --color-inverse-60: rgba(41, 43, 44, 0.6);  /* #292b2c */
  --color-faded-60: rgba(247, 247, 247, 0.6);  /* #f7f7f7 */
  /* # 70% */
  /* # 80% */
  --color-background-80: rgba(233, 225, 223, 0.8);  /* #e9e1df */
  --color-main-80: rgba(165, 98, 72, 0.8);  /* #a56248 */
  --color-secondary-80: rgba(202, 167, 145, 0.8);  /* #caa791 */
  --color-text-80: rgba(132, 89, 83, 0.8);  /* #845953 */
  --color-highlight-80: rgba(249, 194, 103, 0.8);  /* #f9c267 */

  --color-primary-80: rgba(2, 117, 216, 0.8);  /* #0275d8 */
  --color-success-80: rgba(92, 184, 92, 0.8);  /* #5cb85c */
  --color-info-80: rgba(91, 192, 222, 0.8);  /* #5bc0de */
  --color-warning-80: rgba(240, 173, 78, 0.8);  /* #f0ad4e */
  --color-danger-80: rgba(217, 83, 79, 0.8);  /* #d9534f */
  --color-inverse-80: rgba(41, 43, 44, 0.8);  /* #292b2c */
  --color-faded-80: rgba(247, 247, 247, 0.8);  /* #f7f7f7 */
  /* # 90% */
}
:root { /* --- Boton: Inventario */ 
  --white: #ececec;
  --black: #111111;
  --red1: #e74c3c;
  --red2: #c92918;
  --color-primary2: var(--red1);
  --color-secondary2: var(--red2);
  --cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* ################################################################################# */
html, body {
  height: 100vh; /* Altura completa del viewport */
  width: 100vw;  /* Ancho completo del viewport */ /* Asegura que <html> y <body> ocupen toda la ventana */
  margin: 0;    /* Elimina márgenes predeterminados del navegador */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.--pad {
  padding: 1rem;
}

/* 
=========================
        LAYOUT
=========================
*/
.layout-container {
  display: flex;
  width: 100vw; /* Ancho completo del viewport */
  height: 100vh; /* Alto completo del viewport */
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
              url("../src/assets/bg-texture.jpg");
}
.logout-box {
  width: 10rem;
  height: 10rem;
  position: fixed;
  overflow: hidden;
  padding: 0 0.5rem;
  z-index: 10;
  bottom: 5%;
  left: 4rem;
  
  border: 2px solid var(--color-main-60);
  border-radius: 25px;
  cursor: pointer;
}
.logout-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 90%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 90%);
}
/* 
=========================
        BORDER-TOP
=========================
*/
.deco-border-top {
  width: 39rem;
  height: 5rem;
  border: 1px solid black;
  position: relative; /* Asegura que todo quede dentro del contenedor */
  overflow: hidden; /* Evita que la imagen o la máscara sobresalgan */
  z-index: 10;
}

.deco-border-top img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
}
/* 
=========================
        MAIN BOX
=========================
*/
.main-box {
  width: 100vw; /* Ancho completo del viewport */
  padding: 11rem 4rem 2rem 4rem;
  h2 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    font-family: var(--font-family-RedHat);
  }
}
.section-menu-container {
  margin: 0.5rem 0;
}

/* 
=========================
          FLEX
=========================
*/
.--flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.--flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.--flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 
=========================
        FONT STYLE
=========================
*/
.bold-text {
  font-weight: bold;
  font-size: 14px; /* Ajusta el tamaño a lo que necesites */
}

.large-text {
  font-size: 16px;
}

/* 
=========================
      BUTTONS STYLE
=========================
*/
.--btn-principal {
  margin: 0 0.1rem;
  background-color: var(--color-main);
  color: var(--color-background);
  border: 2px solid transparent;
}
.--btn-principal:hover {
  background-color: var(--color-background) !important;
  color: var(--color-main) !important;
  border: 2px solid var(--color-main) !important;
}
.--btn-secundario {
  margin: 0 0.1rem;
  color: var(--color-text);
  border: 2px solid var(--color-text);
}
.--btn-secundario:hover {
  color: var(--color-secondary) !important;
  border: 2px solid var(--color-secondary) !important;
}
.--btn-danger {
  margin: 0 0.1rem;
  color: var(--color-danger);
  border: 2px solid var(--color-danger);
}
.--btn-danger:hover {
  background-color: var(--color-danger) !important;
  color: var(--color-background) !important;
  border: 2px solid transparent !important;
}

/* 
=========================
      FORMS STYLE
=========================
*/
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0.5rem 0;
}
.form-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0.5rem 1rem;
}
.form-item label {
  width: 10rem;
}