.main-box {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.admin-login-box {
    background-color: var(--color-background);
    padding: 3rem;
    border-radius: 5px;
    border: 1px solid black;
}