.ant-carousel .slick-dots li button {
    background-color: var(--color-secondary); /* Cambia este valor a tu color deseado */
}

/* Color y estilo del punto activo */
.ant-carousel .slick-dots li.slick-active button {
    background-color: var(--color-primary); /* Cambia este valor a tu color deseado */
    transform: scale(1.2); /* Hace que el punto activo sea un poco más grande */
}