.trabajadores-box{
    display: flex;
    justify-content: space-between;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    flex-direction: column;
    height: 100vh; /* Altura completa del viewport */
    width: 100vw;  /* Ancho completo del viewport */
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
                url("../../assets/bg-texture.jpg"); 
    font-family: var(--font-family-Merriweather)
}